* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    min-height: 100vh;
    min-width: none;
    box-sizing: border-box;
}

#sideBar {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    background-color: #531a8b;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.nav-link {
    display: flex;
    text-decoration: none;
}

.nav-link2 {
    display: flex;
    margin-top: 20px;
    align-items: center;
    text-decoration: none;
    color: white;
}

#sideBar img {
    height: 3em;
}

#sideBar .nav-link2 img {
    height: 2em;
    margin-right: 10px;
}

#sideBar h1{
    margin-top: 10px;
    font-size: 1.5em;
    color: white;
}
#sideBar h2{
    margin-left: 10px;
    font-size: 1.2em;
    color: white;
}

#header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#searchBar {
    grid-column: span 2;
    grid-row: 1 / 2;
    padding: 10px 10px 0 10px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    width: 70%;
    height: 2em;
    background-color: #d8d8d8;
    align-items: center;
    justify-content: center;
}

#userProfile {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    width: 100% ;
    justify-content: right;
    gap: 25px;
}
#userProfile img {
    height: 2em;
    cursor: pointer;
}
#welcome{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px 10px 10px;
    grid-column: span 2;
}
#uploadButtons{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
    padding: 0 10px 10px 10px;
}
#uploadButtons button{
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: #531a8b;
    color: white;
    cursor: pointer;
    font-size: 1em;
}
#mainContent {
    grid-column: 2 / 6;
    grid-row: 2 / 7;
    background-color: #d8d8d8;
    padding: 20px;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
    height: 100vh;
}

.projectCard {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width:90%;
    height: 80%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.412);

}
.projectIcons{
    margin-top: auto;
    align-self: flex-end;
}
.projectIcons img{
    height: 1.5em;
    cursor: pointer;
}
#statsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
}
.anouncementCard{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width:90%;
    height: 40%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.412);
}   
.trendingCard {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 38%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.412);
}   