* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    min-height: 100vh;
    min-width: none;
}

#sideBar {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

#header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: #5e3c34;
    color: white;
    padding: 20px;
}

#mainContent {
    grid-column: 2 / 6;
    grid-row: 2 / 7;
    background-color: #717576;
    padding: 20px;
    color: white;
}