* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    min-height: 100vh;
    min-width: none;
}

#sideBar {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    background-color: #531a8b;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.nav-link {
    display: flex;
    text-decoration: none;
}

.nav-link2 {
    display: flex;
    margin-top: 20px;
    align-items: center;
    text-decoration: none;
    color: white;
}

#sideBar img {
    height: 3em;
}

#sideBar .nav-link2 img {
    height: 2em;
    margin-right: 10px;
}

#sideBar h1{
    margin-top: 10px;
    font-size: 1.5em;
    color: white;
}
#sideBar h2{
    margin-left: 10px;
    font-size: 1.2em;
    color: white;
}

#header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: #ffffff;
    color: white;
    padding: 20px;
}

#mainContent {
    grid-column: 2 / 6;
    grid-row: 2 / 7;
    background-color: #cacaca;
    padding: 20px;
    color: white;
}